<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/login.CSS">
        <link rel="stylesheet" href="/CSS/normalize.CSS">
        <script src="https://kit.fontawesome.com/d84fe97ca7.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
        <title>INGRESO</title>
        <link rel="icon" href="/images/mercado.icon">
    </head>
    <body>
        <header>
            <div class="dispo-header">
                <div class="merca">
                    <img src="/images/logo-mercado-liebre.svg">
                </div>
                <div>
                    <form>
                        <div class="formulario">
                            <input type="text" placeholder="Buscar producros, marcas.">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
                <div>
                    <p class="encimaNav"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>	
            </div>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a>Tiendas Oficiales</a></li>
                    <li><a>Vender</a></li>
                    <li><a>Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a>Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>	
        </header>
        <main>
            <form action="" method="post">
                <input class="entrada" type="text" name="nombre" placeholder="Nombre y Apellido"><br>
                <input class="entrada" type="password" name="contraseña" placeholder="Confirmar contraseña"><br>
                <a href="/"><input class="entrada2" type="button" value="Enviar" class="entrada4"></a><br>
            </form>
        </main>
        <footer>
            <p class="icono" ><i class="fa-solid fa-credit-card"></i></p>
            <b style="font-size:24px">Pagá con tarjeta o en efectivo</b>
            <p class="footer-descripccion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <p class="icono"><i class="fa-solid fa-gift"></i></p>
            <b style="font-size:24px">Envío gratis desde $ 2.500</b>
            <p class="footer-descripccion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <p class="icono"><i class="fa-solid fa-user-shield"></i></p>
            <b style="font-size:24px">Seguridad, de principio a fin</b>
            <p class="footer-descripccion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p style="color:#666;">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>